import React from "react";
import PropTypes from 'prop-types';
import * as S from './styles'

const {{ properCase name }} = ({exampleProp}) => (
  <S.{{ properCase name }}>
    <div>{exampleProp}</div>
  </S.{{ properCase name }}>
)

{{ properCase name }}.defaultProps = {};

{{ properCase name }}.props = {
  exampleProp: PropTypes.string
};

export default {{ properCase name }};
